@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 125;
    font-style: normal;
    font-size: 6rem;
}

.icones{
    height: 1rem;
    width: 1rem;
}

#splash{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10rem;
    height: 100vh;
    background: linear-gradient(90deg, rgba(85,181,242,1) 0%, rgba(50,100,162,1) 48%, rgba(28,66,132,1) 76%);
}

#splash .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.linkImg{
    text-decoration: none;
}

a.list-group-item{
    color: #000000 !important;
    width: 15rem;
    transition: all .2s ease-in-out;
}

a.list-group-item:hover{
    color: #ffffff !important;
}

.estab{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border: none;
    border-radius: 50%;
}

.tabela{
    border: 0.01rem solid #000000;
}

.headerTable{
    background-color: #000000;
}

.headerTable th{
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-align: center;
}

.bodyTable td{
    text-align: center;
    padding: 0.5rem 1rem;
}

#splash h1{
    color: #ffffff;
}

.fundoExplorar{
    padding: 2rem 0;
    background-image: url('/TechWay/img/fundo/cachoeira.jpg');
    background-size: cover;
    position: relative;
    border-radius: 1rem;
}

.childFundoExplorar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a0;
    border-radius: 1rem;
}

.fundoExplorar a, 
.fundoExplorar p,
.fundoExplorar h1{
    color: #ffffff;
    z-index: 0;
}


.fundoExplorar .icones{
    filter: invert(100%);
}

.iconeBar{
    height: 1.5rem;
    width: 1.5rem;
    filter: invert(100%);
}

.iconesLogin{
    width: 3rem;
    height: 3rem;
}

button.btnPesquisa{
    border: none;
    background-color: #30619E;
    border-radius: 0 3rem 3rem 0;
    padding: 0.75rem 1rem;
    width: 4rem;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

button.btnPesquisa:hover{
    background-color: #0f3b70;
}

input.barPesquisa{
    padding: 0.8rem 1rem;
    border-radius: 3rem 0 0 3rem;
    border: 0.02rem solid #000000;
    width: 30rem;
}

.card-title{
    font-weight: bold;
}

.equipe{
  display: grid;
  grid-template-columns: 1fr 1fr;  
}

.equipe .card{
    display: flex;
}

img.card-img-top{
    height: 14rem;
    object-fit: cover;
}

.cards .card-img-top{
    height: 12rem;
}

img.imgEquipe{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 100%;
}

.wrapper{
    position: relative;
}

.wrapper.est .card:hover{
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.wrapper.mon .card:hover{
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 1rem);
    padding: 1rem;
    overflow: hidden;
    scroll-behavior: smooth;
    z-index: 0;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.cards .card{
    width: 25rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.card .id{
    display: none;
}

.cards .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.cards .card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.cards .card-body h2{
    padding: 0;
    margin: 0;
}

.cards .card:hover{
    transform: scale(1.05);
}

.wrapper .carousel .card{
    position: relative;
}

.wrapper i{
    height: 3rem;
    width: 3rem;
    text-align: center;
    background-color: #ffffff;
    line-height: 3rem;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 1.25rem;
    z-index: 1;
}

.wrapper i:first-child{
    left: -1rem;
}
.wrapper i:last-child{
    right: -1rem;
}

.wrapper .carousel.dragging{
    scroll-behavior: auto;
}

.wrapper .carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.wrapper .cards-img{
    grid-auto-columns: 100%;
    margin-bottom: 1rem;
}

.wrapper .cards-img .card{
    height: 40rem;
    border: none;
}

.wrapper .cards-img .card img{
    object-fit: scale-down;
    border-radius: 1rem;
    height: 40rem;
}